     /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
    canvas { 
        /*-------------------------------------------------------------------*/
        border: 0px none; background-color: white; height:100%; width:100%;
        /*-------------------------------------------------------------------*/


        }


    /* The contenteditable property is set to true for the canvas in order to support
       clipboard events. Hide the resulting focus frame and set the cursor back to
       the default cursor. */
    canvas {
      /*----------------------------------------------------------------------*/
      outline: 0px solid transparent; caret-color: transparent; cursor:default;
      /*----------------------------------------------------------------------*/

      
   }